@font-face {
    font-family: "Poppins Medium";
    src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins Bold";
    src: url(fonts/Poppins-Bold.ttf);
}
:root {
    --primary-color: hsl(25, 93%, 58%);
    --secondary-color: hsl(25, 93%, 45%);
}
* {padding: 0; margin: 0; box-sizing: border-box;}
::placeholder {font-family: "Poppins Medium"; font-size: 0.9rem;}
body {font-family: "Poppins Medium";}

.header-area {background-image: linear-gradient(135deg, rgba(247,132,49,0.8) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(247,132,49,0.6) 100%);}
.btn-primary {background-color: var(--primary-color); border-color: var(--primary-color);}
.btn-primary:hover {background-color: var(--secondary-color); border-color: var(--secondary-color);}
.site-logo span {color: var(--primary-color);}
.display-4 span {display: block; font-family: "Poppins Bold"; color: var(--primary-color);}
.paragraph {font-size: 0.9rem;}
.icon-group {display: grid; grid-template-columns: 50% 50%; gap: 15px;}
.icon-group img {height: 50px;}
.curve-line {right: 0; top: 0; max-height: 100%; z-index: 0;}
[src="images/hero-image.svg"] {z-index: 1;}
.search-bar input:nth-child(1) {width: 70%;}